/*/  Theme for the Documentation Portfolio 
Created by NiKole Maxwell  [nvy.io] 
Designed to be nvy'd  /*/


/*  Theme Defaults

Colors:
    main: 
    accent: 


Fonts:

<link href="https://fonts.googleapis.com/css?family=Brawler|Caudex|Quicksand" rel="stylesheet">

    font-family: 'Brawler', serif;
    font-family: 'Caudex', serif;
    font-family: 'Quicksand', sans-serif;
*/

/*/ Full Page Opacity /*/
html {
    opacity: .75;
}

body * {
    font-family: 'Quicksand', sans-serif;
}

h1 , h2{
        font-family: 'Brawler', serif;
}

a {
    text-decoration: none;
    font-family: 'Brawler', serif;
    color: green;
}


a:hover {
    color: rgb(38, 15, 241);
    text-decoration: none;
    font-size:  1.1em;
}

.text-muted{
    color: #525252;
}

.text-active {
    color: purple
}

/*/ HEADER  /*/

.logo {
    max-height: 150px;
    max-width:  50%;
}

.title {
    font-size: 2.8em;
    margin-top: -2.5em;
    text-shadow: 1px 1px black, 1.5px 2px purple;
    color: #4ecf84;
    font-family: 'Brawler',
}

.col-md-12.text-right {
    margin-top: 1em;
}

/*/ Featured Works /*/

h2 {
    color: #565656;
    font-size: 2.3em;
    margin-top: 1em;
    text-shadow: 1.5px 1.5px black, 2px 2px rgb(15, 128, 0), -2px -2px greenyellow;
}

.featured {
    text-align: center;
}

.col-md-4  {
    text-align: center;
    line-height: 1em;
    padding-bottom: 1em;
}

.col-md-4 h3 {
    text-shadow: 1.5px 1.5px black, 1px 1px purple;
    font-family: 'Brawler', serif;
    font-family: 'Caudex', serif;
    border-bottom: 2px inset #565656;
    margin-top: 1em;
}    


.featured.img-fluid {
    width: 250px;
    max-height: 250px;
    min-height: 250px;
    background: cover;
    border-radius: 7em;
    border: .25em inset lightgreen;
    box-shadow: -7px 4px black;
}

.img-fluid.main {
        box-shadow: -10px 8px black;
        border: 1px inset black;
}

.btn.btn-primary {
    float: left;
    /* clear: left; */
    margin-left: 39.3%;
    margin-top: 1em;
    background-color: green;
    text-shadow: 1px 1px black;
}

hr {
    color: purple;
}

/*/  FOOTER /*/


    /* Footer css */

    /*/             FOOTER         /*/
    
    .footer {
           margin-top: 5em;
           font-family: 'Playfair Display', serif;
           color:white;
           padding-bottom: 1em;
           text-align: center;
           font-size: 1.3em;
           font-weight: 500;
           background-color: #525252;
           text-shadow: .2px .3px white;
           line-height: 1.5px;
           letter-spacing: 7px;
           width: 100%;
           clear: both;
           line-height: 13.15px;           
       
       
       }
       
       .footerLine {   
       
           border: .2em outset #4bc259;
           margin-bottom: .05px;
           padding: 0;
       }       
       
       footer a {
       
           text-decoration: none;
           color:white;
       }
       
       footer a:hover, .sloganB {
       
           color: #4bc259;
           font-style: italic;
       }
       
       /* Social Icons & Contact */
       
       img.social {
           padding-top: 35px;
           overflow: hidden;
       }
       
       p.contactMe {
           font-family: 'Playfair Display', serif;
           margin-top: -1.3em;
           font-weight:    500;
       }
       
       
       .footerLineBottom {   
           
               border: .2em outset #4bc259;
               margin: 0;
               padding: 0;
           }       
       